<footer class="main-footer dark-bg">
    <div class="pull-right hidden-xs"> Versiyon 1.0</div>

    <p>Copyright &copy; @DateTime.Now.Year <span class="text-primary">MultiShop</span> . Tüm Hakları Saklıdır.</p>
    
</footer>