
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
@model UpdateBrandDto


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Marka Düzenleme Sayfası</h4>
                <form method="post" asp-action="UpdateBrand" asp-area="Admin">
                    <div class="form-group">
                        <label asp-for="BrandID">Marka ID</label>
                        <input type="text" class="form-control" asp-for="BrandID" readonly>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandName">Marka Adı</label>
                        <input type="text" class="form-control" asp-for="BrandName" placeholder="Marka Adı" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl">Marka Görseli</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Marka Görseli" required>
                    </div>
                    <button type="submit" class="btn btn-default">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>

