@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Slider Görseli Düzenleme Sayfası</h4>
                <form method="post" asp-action="UpdateFeature" asp-area="Admin">
                    <div class="form-group">
                        <label asp-for="FeatureID">Alan ID</label>
                        <input type="text" class="form-control" asp-for="FeatureID" readonly>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Görsel Balığı</label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="Görsel Başlığı" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Icon">Alan Iconu</label>
                        <input type="text" class="form-control" asp-for="Icon" placeholder="Alan Iconu" required>
                    </div>
                    <button type="submit" class="btn btn-default">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>

